@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap");

// === MIXIN ===
@mixin roboto {
  font-family: "Roboto", sans-serif;
}

@mixin quicksand {
  font-family: "Quicksand", sans-serif;
}

@mixin clean-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
// === // MIXIN ===


// === FUNCTIONS ===
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function rem($num) {
  @return (strip-unit($num) / 16) * 1rem;
}
// === // FUNCTIONS ===


// === VARIABLES ===
$breakpoint-sm-min: 576px;
$breakpoint-md-min: 768px;
$breakpoint-lg-min: 992px;
$breakpoint-xl-min: 1200px;
$breakpoint-xxl-min: 1400px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xl-min: $breakpoint-xxl-min - 1px;


$base: rem(4px);

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-small: rem(12px);
$fs-midlle: rem(15px);
$fs-large: rem(18px);
$fs-Xlarge: rem(48px);

$padding-vertical: $base * 30;
$padding-vertical_small: $base * 15;
$padding-vertical_xs: $base * 5;
$transition: 0.2s;

$color-white: #fff;
$color-divider: #d8e3fe;
$color-primary: #697ca6;
$color-secondary: #6188ff;
// === /VARIABLES ===

// === COMMON ===
// html {
//   @media (max-width: $breakpoint-md-max) {
//     font-size: 14px;
//   }

//   @media (max-width: $breakpoint-sm-max) {
//     font-size: 10px;
//   }
// }

body {
  @include roboto;
  font-weight: $fw-regular;

  color: #8d96bd;
}

.section-outer {
  border-bottom: 1px solid $color-divider;
  padding: 0 $base*5;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;

  &_wide {
    max-width: 1200px;
  }
}

.logo {
  
  &__link {
    display: block;
    width: $base * 6;
    height: $base * 6;
    background-color: #5e81fe;
    border-radius: 100%;
  }
}

.get-button {
  margin-left: $base * 6;
}

.input {
  padding: $base * 3 $base * 4;
  font-size: $fs-small;
  background: #efeff7;
  color: #7a85ad;
  border: 1px solid transparent;
  border-radius: $base / 2;

  &--size-large {
    padding: $base * 5 $base * 6;
    border-radius: $base;
  }
}

.button {
  @include quicksand;

  box-sizing: border-box;
  display: inline-block;
  padding: $base * 3 $base * 4;
  margin: 0;
  font-size: $fs-small;
  font-weight: $fw-bold;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  background: none;
  border: 1px solid transparent;
  border-radius: $base / 2;
  transition: $transition;

  &--size-large {
    padding: $base * 5 $base * 15;
    border-radius: $base;
  }

  &--primary {
    color: #3a79ff;
    background-color: #d2e1ff;

    &:hover {
      background-color: darken(#d2e1ff, 5%);
    }
  }

  &--warning {
    color: #d43f3f;
    background-color: #ffd7d7;

    &:hover {
      background-color: darken(#ffd7d7, 5%);
    }
  }

  &--secondary {
    color: $color-white;
    background-color: #4c85ff;

    &:hover {
      background-color: darken(#4c85ff, 5%);
    }

    &-inverted {
      color: #565f82;
      background-color: $color-white;

      &:hover {
        background-color: darken($color-white, 10%);
      }
    }
  }

  &--grayscale {
    color: #7382a3;
    background-color: #e8ecf4;

    &:hover {
      background-color: darken(#e8ecf4, 5%);
    }
  }

  &--without-background {
    color: #adb4d2;
    border: 1px solid #d1d1e4;

    &:hover {
      color: darken(#adb4d2, 10%);
      border: 1px solid darken(#d1d1e4, 10%);
    }

    &-inverted {
      color: #c7d3ff;
      border-color: #a0b4ff;

      &:hover {
        color: lighten(#c7d3ff, 10%);
        border-color: lighten(#a0b4ff, 5%);
      }
    }
  }
}

.buttons-group {
  display: inline-flex;

  .button:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .button:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include quicksand;

  margin: 0;
  padding: 0;
  font-weight: $fw-regular;
  color: #3d4f9f;
}

h2 {
  margin-bottom: $base * 17;
  font-size: 48px;
}

h3 {
  font-size: 36px;
  margin-bottom: $base * 7;
}

h4 {
  font-size: 24px;
  margin-bottom: $base * 20;
}

h5 {
  @include roboto;

  margin-bottom: $base * 4;
  font-size: 10px;
  text-transform: uppercase;
}

.txt-algn-c {
  text-align: center;
}

.dots {
  @include clean-list;

  display: flex;
  justify-content: center;

  &__item {
    width: $base * 2;
    height: $base * 2;
    background-color: #d1d6e3;
    border-radius: 100%;
    transition: $transition;
    cursor: pointer;

    &--active {
      background-color: #5283ff;
    }

    & + & {
      margin-left: $base * 3;
    }
  }
}

// === /COMMON ===

// === HEADER ===
.section-header {
  position: relative;
  
  .section-inner {
    padding-top: $padding-vertical_xs;
    padding-bottom: $padding-vertical_xs;
  }
}

.main-navigation {
  display: flex;
  align-items: center;

  &__inner-wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-left: $base * 18;

      .section-header & {
        @media (max-width: $breakpoint-md-max) {
          position: absolute;
          display: none;
          z-index: 10;
          top: 100%;
          right: 0;
          left: 0;
          margin-left: 0;
          padding: $base * 5;
          background-color: #fff;
      }
    }

      @media (max-width: $breakpoint-md-max) {
      flex-direction: column;

      .socials,
      .page-navigation {
        margin-bottom: $base * 4;
      }

      &,
      .socials,
      .button-wrapper {
        margin-left: 0;
      }
    }
  }

  @media (max-width: $breakpoint-md-max) {
    .section-footer & {
      flex-direction: column;

      .logo {
        @media (max-width: $breakpoint-md-max) {
          margin-bottom: $base * 4;
        
        }
      }
    }
  }

  
}

.button-burger {
  display: none;
  margin-left: auto;

  &__line {
    display: block;
    height: $base / 2;
    width: $base * 4;
    background-color: #697ca6;

    & + & {
      margin-top: $base;
    }
  }

  @media (max-width: $breakpoint-md-max) {
    display: block;
  }
}

// .page-navigation {
  
// }

.navigation-wrapper {
  @include clean-list;

  display: flex;

  &__item {
    & + & {
      margin-left: $base * 10;
    }

    &-link {
      @include quicksand;

      font-weight: $fw-bold;
      font-size: $fs-small;
      color: $color-primary;
      text-decoration: none;
      transition: $transition;

      &:hover {
        color: $color-secondary;
      }

      &--active {
        font-weight: $fw-bold;
        color: $color-secondary;
      }
    }
  }
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  @include clean-list;

  display: flex;
  align-items: center;

  &__item {
    & + & {
      margin-left: $base * 10;
    }

    &-link {
      path {
        fill: $color-primary;
        transition: $transition;
      }

      &:hover {
        path {
          fill: $color-secondary;
        }
      }
    }
  }
}


// === /HEADER ===

// === HERO-IMAGE ===
.section-hero-image {
  position: relative;
  background-color: #f4f7ff;
  padding: 0;

  .dots {
    position: absolute;
    bottom: $base * 7;
    left: 50%;
    transform: translateX(-50%);
  }
}

.slider-hero-image {
  @include clean-list;

  &__item {
    height: $base * 140;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;

    &-content {
      h2 {
        font-weight: $fw-light;

        span {
          font-weight: $fw-medium;
        }
      }

      .text {
        max-width: 60%;
        margin: 0 auto $base * 5;
        line-height: 2;
      }
    }
  }
}

.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $base * 13;
  height: $base * 13;
  background-color: $color-white;
  border-radius: 100%;
  box-shadow: 0 $base * 2 $base * 12 rgba(#c9d1e7, 0.6);

  svg {
    width: $base * 3;
    height: $base * 3;
  }
}
// === /HERO-IMAGE ===

// === CUSTOMERS ===
.section-customers {
  .section-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $padding-vertical_small;
    padding-bottom: $padding-vertical_small;

    a {
      opacity: 0.3;
      transition: $transition;

      &:hover {
        opacity: 1;
      }
    }
  }
}
// === /CUSTOMERS ===

// === PLAN-AND-MANAGE ===
.section-plan-and-manage {
  position: relative;
  background-color: #f5f8ff;
  overflow: hidden;

  &__content {
    width: 60%;

    .aside-image {
      position: absolute;
      top: 0;
      left: 50%;
    }

    h3 {
      font-weight: $fw-light;

      span {
        font-weight: $fw-medium;
      }
    }

    .text {
      margin-bottom: $base * 12;
      line-height: 2;
    }

    .buttons-group {
      svg {
        margin-left: $base;
      }
    }

    @media (min-width: $breakpoint-lg-min) {
      width: 50%;
    }
  }
}
// === / PLAN-AND-MANAGE ===

// FEATURES
.section-features {
  background: url(./images/clouds_features_bg.svg) no-repeat 50% 50%;

  h4 {
    font-weight: $fw-medium;
  }

  .buttons {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    // text-align: center;
  }
}

.features-list {
  @include clean-list;

  display: flex;
  margin: 0 0 $base * 25;
  text-align: center;

  &__item {
    position: relative;
    flex-basis: 25%;

    &:not(:first-child) {
      margin-left: $base * 10;
    }

    &:not(:first-child)::before {
      position: absolute;
      top: $base * 30;
      left: -34px;
      width: $base * 7;
      height: 1px;
      content: "";
      background-color: #dae4fe;
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto $base * 8;
      width: $base * 17;
      height: $base * 17;
      border-radius: 100%;
      background-color: #f1f5ff;
    }

    &-title {
      font-style: $fs-midlle;
      font-weight: $fw-bold;
      color: #4074f8;
      margin-bottom: $base * 7;
    }

    &-text {
      line-height: 2;
    }
  }
}

.or-block {
  display: inline-flex;
  align-items: center;
  margin: 0 $base * 4;
  font-weight: $fw-medium;
  font-size: $fs-small;
  line-height: $base * 10;

  &::before,
  &::after {
    display: block;
    width: $base * 4;
    height: 1px;
    content: "";
    background-color: #dae4fe;
  }

  &::before {
    margin-right: $base * 4;
  }

  &::after {
    margin-left: $base * 4;
  }
}

// STATS
.section-stats {
  background-color: #e9efff;
  display: flex;
  padding: 0;

  &__icon {
    margin-bottom: $base * 6;
  }

  &__number {
    @include quicksand;

    margin-bottom: $base * 7;
    font-size: $fs-Xlarge;
  }
  &__text {
    @include quicksand;

    font-size: $fs-large;
    font-weight: $fw-medium;
    line-height: 1.5;

    @media (min-width: $breakpoint-lg-min) {
      width: 40%;
    }
  }

  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: $base * 16 $base * 22;
  }

  &__left {
    background-color: #5e80ff;
    text-align: right;
    color: $color-white;
    align-items: flex-end;
  }

  &__right {
    color: #5e80ff;
  }
}
// BLOG
.section-blog {
  background-color: #f5f8ff;
}

.slider-wrapper {
  position: relative;
  margin-bottom: $base * 25;
}

.slider-blog {
  @include clean-list;

  background-color: $color-white;
  border: 1px solid #d8e3fe;
  box-shadow: 0 $base * 3 $base * 12 #eff4ff;

  &__item {
    display: flex;
    justify-content: space-between;
    padding: $base * 16 $base * 8;

    &-gallery {
      display: grid;
      grid-template-rows: repeat(2, $base*30);
      grid-template-columns: repeat(3, $base*30);
      grid-gap: $base * 4;

      .image-link {
        position: relative;
        display: block;
        overflow: hidden;
        border-radius: $base;
        box-shadow: 0 $base * 4 $base * 25 #e5ebf8;

        .loupe {
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          width: $base * 16;
          height: $base * 16;
          background: $color-white url(./images/loupe_blog.svg) no-repeat 50%
            50%;
          border-radius: 100%;
          opacity: 0;
          transition: $transition;
          transform: translate(-50%, -50%);
        }

        &:hover {
          .loupe {
            opacity: 1;
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &::before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          opacity: 0.7;

          content: "";
        }

        &--big {
          grid-row: 1 / 3;
          grid-column: 1 / 3;

          &::before {
            background: linear-gradient(transparent, #ffc735);
          }
        }

        &--small-1 {
          grid-row: 1 / 2;
          grid-column: 3 / 4;

          &::before {
            background: linear-gradient(transparent, #ff3535);
          }
        }

        &--small-2 {
          grid-row: 2 / 3;
          grid-column: 3 / 4;

          &::before {
            background: linear-gradient(transparent, #35aaff);
          }
        }
      }

      @media (max-width: $breakpoint-md-max) {
        grid-template-rows: repeat(2, $base*25);
        grid-template-columns: repeat(3, $base*25);
      }
    }



    &-content {
      flex-grow: 1;
      margin-left: $base * 5;
    }

    .text {
      margin-bottom: $base * 10;
      font-size: $fs-midlle;
      line-height: 2;
    }
  }
}

.button-blog {
  position: absolute;
  top: 50%;
  display: block;
  width: $base * 10;
  height: $base * 10;
  background: url(./images/icon-arrow_blog.svg) no-repeat 50% 50%;

  &__prev {
    right: 100%;
    margin-right: $base * 16;
    transform: translateY(-50%);
  }

  &__next {
    left: 100%;
    margin-left: $base * 16;
    transform: translateY(-50%) rotate(180deg);
  }

  @media (max-width: $breakpoint-lg-max) {
    display: none;
  }
}

// QUOTES
.section-quotes {
  background: linear-gradient(#eaebff, #f6f9ff);

  .section-inner {
    display: flex;
    justify-content: space-between;

    h3 {
      font-weight: $fw-medium;
    }
  }

  &__left,
  &__right {
    flex-basis: 45%;
  }

  &__left {
    .text {
      line-height: 2;
    }
  }
}

.slider-quotes {
  @include clean-list;

  margin-bottom: $base * 20;

  &__item {
    position: relative;
    padding: $base * 10 $base * 17 $base * 15;
    background-color: $color-white;
    border: 1px solid #d8e3fe;
    box-shadow: 0 $base $base * 12 #f3f5fa;

    &-text {
      font-size: $fs-midlle;
      line-height: 2;
      color: #676f95;
    }

    &-photo {
      $height: $base * 15;

      position: absolute;
      top: 100%;
      left: 50%;
      width: $base * 15;
      height: $height;
      overflow: hidden;
      background-color: $color-white;
      border-radius: 100%;
      transform: translateX(-50%);
      margin-top: -$height/2;
    }
  }
}

// FAQ
.section-faq {
  h4 {
    font-weight: $fw-medium;
  }
}

.faq-accordion {
  @include clean-list;

  &__item {
    $parent: &;

    border-bottom: 1px solid #d8e3fe;

    &--active {
      .arrow {
        stroke: #495274;
      }

      #{$parent}-trigger {
        color: #495274;
        font-weight: $fw-bold;

        &-icon {
          transform: rotate(0);
        }
      }

      #{$parent}-content {
        display: flex;
      }
    }

    &-trigger {
      display: flex;
      padding: $base * 4;
      cursor: pointer;

      &-icon {
        width: $base * 4;
        margin-right: $base * 4;
        text-align: center;
        transform: rotate(180deg);

        .arrow {
          stroke: #8e96b7;
        }
      }

      &-text {
        font-size: $fs-midlle;
      }
    }

    &-content {
      display: none;
      padding: 0 $base * 4 $base * 4 $base * 17;

      &-text {
        font-size: $fs-midlle;
        flex-grow: 1;
        line-height: 2;
      }

      &-button {
        margin-left: $base * 15;
      }
    }
  }
}

// GET-STARTED
.section-get-started {
  position: relative;
  color: $color-white;
  text-align: center;
  background: linear-gradient(#6888ff, #5e80ff);

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background: url(./images/clouds_get-started_bg.svg) no-repeat 50% 50%;
    content: "";
  }

  .section-inner {
    position: relative;
    z-index: 10;
  }

  h2,
  h5 {
    color: $color-white;
  }

  h2 {
    font-weight: $fw-light;

    span {
      font-weight: $fw-medium;
    }
  }

  .text {
    max-width: 60%;
    margin: 0 auto $base * 10;
    line-height: 2;
  }
}

// NEWSLETTER
.section-newsletter {
  background-color: #fcfdff;

  .section-inner {
    display: flex;
    justify-content: space-between;

    @media (max-width: $breakpoint-md-max) {
      flex-direction: column;
    }
  }

  &__left {
    flex-basis: 35%;

    &-title {
      @include quicksand;

      font-size: $fs-large;
      font-weight: $fw-bold;
      color: #3d4f9f;
      margin-bottom: $base * 5;
    }

    &-text {
      font-size: $fs-midlle;
      line-height: 2;
    }

    @media (max-width: $breakpoint-md-max) {
      margin-bottom: $base * 5;
    }
  }

  &__right {
    flex-basis: 55%;
  }
}

.form-newsletter {
  display: flex;

  &__input {
    flex-grow: 1;
  }

  &__button {
    margin-left: $base * 3;
  }
}

// === FOOTER ===
.section-footer {
  border-bottom: none;
  .section-inner {
    padding-top: $padding-vertical_small;
    padding-bottom: $padding-vertical_small;
  }
}

.copyright {
  @include quicksand;

  margin-top: $base * 7;
  margin-left: $base * 24;
  font-size: $fs-small;
  font-weight: $fw-medium;
  color: #aeb8d0;

  @media (max-width: $breakpoint-md-max) {
    margin-left: 0;
    text-align: center;
  }
}
// === /FOOTER ===